@font-face {font-family:Anton;src:url('/fonts/Anton-Regular.ttf') format('truetype');font-weight:400;font-display:block;}
@font-face {font-family:Oswald;src:url('/fonts/Oswald.ttf') format('truetype');font-weight:200 700;font-display:block;}
* {box-sizing:border-box;}
body {margin:0;font-family:Oswald,sans-serif;}
